* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Symbols Nerd Font Mono", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: darkslategrey;
    color: white;
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#tray {
    margin-right: 16px;
}

#bluetooth {
    margin-right: 17px;
}

#network {
    margin-right: 13px;
}

#custom-expand-icon {
    margin-right: 18px;
}

tooltip {
    padding: 2px;
}

#custom-update {
    font-size: 10px;
}

#clock {
    margin-left: 8.75px;
}

.hidden {
    opacity: 0;
}
